@import "tailwindcss";

:root {
  --background: oklch(0.235 0 0);
  --foreground: oklch(0.917 0.0145 84.58);
  --muted-foreground: oklch(0.8244 0.0119 84.58);
  --primary: oklch(0.6011 0.1811 29.76);
  --primary-foreground: oklch(0.235 0 0);
  --secondary: oklch(0.8149 0.1654 91.24);
  --secondary-foreground: oklch(0.235 0 0);
  --card: oklch(0.9435 0.0058 84.57);
  --muted: oklch(0.235 0.005 84.58);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-rubik-spray: 'Rubik Spray Paint', cursive;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-card: var(--card);
  --color-muted: var(--muted);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Poppins, sans-serif;
  
  @apply bg-primary;
}
